version: '3.9'

services:
  bot:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: bot_container
    restart: always
    env_file:
      - ./.env
    depends_on:
      - redis
    volumes:
      - .:/app
    command: ["python3", "main.py"]

  redis:
    image: redis:latest
    container_name: redis_container
    restart: always
    ports:
      - "6379:6379"
